{% extends 'base.html' %}

{% block title %}Class Statistics{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Showing Stats for {{class_name}}</h1>
  <p class="d-none" id="class-name">{{class_name}}</p>
  <p>Below you will find the usernames of all users that have been added to the class. To add additional users to the class use the form below.</p>
</div>
<br>

<div class="container">
  <button class="btn btn-primary" onclick="toggleForm()">Add Students</button>
</div>
<div id="form-w" class="mt-5 container d-none">
  <form id="student-selection">
    
  <input type="submit" class="btn btn-primary mb-3" value="Add Selected">
  </form>
</div>
<hr>
<div class="container">
  <button class="btn btn-primary mb-3" onclick="generateStudents()">Refresh</button>
  <div id="student-list" class="list-group">
    
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="username" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="username">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul id="modal-content" class="list-group">
          
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  function populateList(){
    var container = document.getElementById("student-selection")
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-all-stats/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      var list = data
      for (var i=0; i<list.length; i++){
        container.innerHTML += `
        <div class="form-check">
          <label class="form-check-label" for="${list[i].username}">${list[i].username}</label>
          <input class="form-check-input" type="checkbox" id="${list[i].username}" value="${list[i].username}" name="student">
        </div>
        `
      }
    })
  }
  populateList()

  var className = document.getElementById("class-name").innerHTML
  function generateStudents(){
    console.log("button pressed")
    var studentList = document.getElementById("student-list")
    studentList.innerHTML = ""
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-students/${className}/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
    var list = data
    for (var i=0; i<list.length; i++){
      var usern = list[i].username
      console.log(usern)
      studentList.innerHTML += `
      <button class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setModal(${usern})">${usern}</button>
      `
    }
  })
  }
  generateStudents()

  var wrapper = document.getElementById("form-w")
  wrapper.addEventListener("submit", function(e){
    e.preventDefault()
    var selected = document.querySelectorAll("[name='student']:checked")
    for (var i=0; i<selected.length; i++){
      var usern = selected[i].value
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-group/${className}/${usern}/`
      fetch(url)
    }
    generateStudents()
  })

  function toggleForm(){
    if (wrapper.classList.contains("d-none")){
      wrapper.className="mt-5 container"
    }
    else {
      wrapper.className="mt-5 container d-none"
    }
  }

  function setModal(username){
    var header = document.getElementById("username")
    var body = document.getElementById("modal-content")
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-sessions/${username.value}/`
    body.innerHTML = ""
    header.innerHTML = username.value
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      var list = data
      console.log(list.length)
      for (var i=0; i<list.length; i++){
        body.innerHTML += `
        <li class="list-group-item">
          <h5>${list[i].date}: ${list[i].time_start} - ${list[i].time_end}</h5>
          <p>Correct: ${list[i].correct}</p>
          <p>Incorrect: ${list[i].incorrect}</p>
          <p>Percentage Correct: ${list[i].average*100}</p>
        </li>
        `
      }
    })
  }
</script>
{% endblock %}