{% extends 'sbase.html' %}
{% load static %}

{% block title %}Certamen{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="end-modal">
  End Modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Game End</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <p>Looks like this game is finished! How did you stack up against your peers? Use the leaderboard below to see where you rank. (Only first, second, and third places receive prizes)</p>
        </div>
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
<!--                 <th scope="col"></th> -->
              </tr>
            </thead>
            <tbody id="fin-table-body">
              
            </tbody>
          </table>
        </div>
        <div id="first-prize" class="d-none">
          <div class="d-flex justify-content-center">
              <div class="container border rounded me-2 pt-4 pb-4">
                <h3>"Champion" Title</h3>
                <p>Congrats on your first place victory! As a reward you will be granted a shiny new title to proudly display your triumph. </p>
                <div class="d-flex justify-content-center">
                  <button onclick="addTitle('title-btn')" class="btn btn-primary" id="title-btn">Accept Reward</button>
                </div>
              </div>
          <div class="container border rounded ms-2 pt-4 pb-4">
            <h3>5000 Points</h3>
            <p>What's a competition without a healthy cash prize? While I cannot offer you actual money, I can grant you a large sum of points (5000 to be more specific).</p>
            <div class="d-flex justify-content-center">
              <button id="first-btn" class="btn btn-primary" onclick="addPoints(5000, 'first-btn')">Accept Reward</button>
            </div>
          </div>
          </div>
        </div>
        <div id="second-prize" class="d-none">
          <div class="container border rounded ms-2 pt-4 pb-4">
            <h3>2500 Points</h3>
            <p>Second place, Congrats! I can't offer you a title, but I can give you a slighly smaller sum of points (2500). </p>
            <div class="d-flex justify-content-center">
              <button id="second-btn" class="btn btn-primary" onclick="addPoints(2500, 'second-btn')">Accept Reward</button>
            </div>
          </div>
        </div>
        <div id="third-prize" class="d-none">
          <div class="container border rounded ms-2 pt-4 pb-4">
            <h3>1000 Points</h3>
            <p>Third place! Not quite as good as first or second, but a podium finish is still pretty nice! As a reward, you will be granted 1000 points.</p>
            <div class="d-flex justify-content-center">
              <button id="third-btn" class="btn btn-primary" onclick="addPoints(1000, 'third-btn')">Accept Reward</button>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{%url 'index'%}">Home</a>
      </div>
    </div>
  </div>
</div>
</div>

<p id="time-now" class="d-none">{{js_start}}</p>
<p class="d-none" id="time-end">{{js_end}}</p>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <p class="navbar-brand">{{start}}</p>
    <p class="navbar-brand float-end">{{end}}</p>
  </div>
</nav>
<p class="d-none" id="logged-user">{{request.user.username}}</p>
<p class="d-none" id="mult"></p>
<p class="d-none" id="insurance"></p>
<div class="d-flex">
  <div class=" flex-fill">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Points</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody id="table-body">
        
      </tbody>
    </table>
  </div>
  <div class="flex-fill border-start">
    <div class="text-center mt-4" id="case-num">
      <div class="border border-3 d-inline-block p-5 rounded">
        <p class="d-none" id="selected-declension"></p>
        <h1 id="question"></h1>
      </div>
    </div>
    <div id="form-wrapper" class="">
      <form id="form">
        <div class="d-flex justify-content-center mt-4">
          <div class="form-check form-check-inline">
            <label for="nom">Nominative</label>
            <input type="radio" id="nom" name="case" value="Nominative">
          </div>
          <div class="form-check form-check-inline">
            <label for="gen">Genitive</label>
            <input type="radio" id="gen" name="case" value="Genitive">
          </div>
          <div class="form-check form-check-inline">
            <label for="dat">Dative</label>
            <input type="radio" id="dat" name="case" value="Dative">
          </div>
          <div class="form-check form-check-inline">
            <label for="acc">Accusative</label>
            <input type="radio" id="acc" name="case" value="Accusative">
          </div>
          <div class="form-check form-check-inline">
            <label for="abl">Ablative</label>
            <input type="radio" id="abl" name="case" value="Ablative">
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-center"> 
          <div class="form-check form-check-inline">
            <label for="sg">Singular</label>
            <input type="radio" id="sg" name="number" value="sg.">
          </div>
          <div class="form-check form-check-inline">
            <label for="pl">Plural</label>
            <input type="radio" id="pl" name="number" value="pl.">
          </div>
        </div>
    
        <div class="d-flex justify-content-center mt-4">
          <input type="submit" value="Check" id="submit-btn" class="btn btn-primary">
        </div>
      </form>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-danger d-none" id="incorrect-banner">
      Incorrect! Answers include:
      <div id="case-answers"></div>
      <div id="number-answers"></div>
      <div id="adj-answer"></div>
      <button class="btn btn-danger" onclick="retrieveQuestion()">Continue</button>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-success d-none" id="correct-banner">
      Correct! Nicely done.
      <button class="btn btn-success" onclick="retrieveQuestion()">Continue</button>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'frontend/competition.js' %}"></script>
{% endblock %}