{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="all-content" class="p-3">
  <div id="main-content" class="container">
    <h1>hello world</h1>
  </div>
  <div id="cards" class="container d-flex justify-content-center">
    <div class="row gy-3">
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/all.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">All Declensions</h5>
            <p class="card-text">Looking to test your knowledge? Practice terms from all five declensions.</p>
            <a href="{% url 'question' declension='all' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/one.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">First Declension</h5>
            <p class="card-text">Nouns of the first declension are primarily feminine and regular.</p>
            <a href="{% url 'question' declension='first' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
<!--     </div> -->
<!--     <div class="row gy-3"> -->
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/two.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Second Declension</h5>
            <p class="card-text">Nouns of the second declension are primarily masculine or neuter with few exceptions.</p>
            <a href="{% url 'question' declension='second' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/three.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Third Declension</h5>
            <p class="card-text">Nouns of the third declension can be masculine, feminine, or neuter and vary highly. This is a very challenging declension.</p>
            <a href="{% url 'question' declension='third' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
<!--     </div> -->
<!--     <div class="row gy-3"> -->
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/four.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fourth Declension</h5>
            <p class="card-text">Nouns of the fourth declension are primarily masculine or neuter with few exceptions.</p>
            <a href="{% url 'question' declension='fourth' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded" style="width: 18rem;">
          <img src="{% static 'frontend/five.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fifth Declension</h5>
            <p class="card-text">Nouns of the fifth declension are primarily feminine and regular with few exceptions.</p>
            <a href="{% url 'question' declension='fifth' %}" class="btn btn-primary">Practice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}