{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>Leaderboard</h1>
  <p>Leaderboard displays rankings based on questions answered correctly. To update or display the leaderboard use the button below.</p>
<button class="btn btn-primary mt-3" onclick="retrieve()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
</button>  
</div>
<table id="leader-table" class="table">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Username</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
</table>
<script>
  function retrieve(){
    console.log("button pressed")
    var table = document.getElementById("leader-table")
    table.innerHTML = `
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Username</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    `
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-all-stats/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      list = data
      console.log(list)
      counter = 1
      for (var x=0; x<list.length; x++){
        table.innerHTML += `
        <tr>
          <td>${counter}</td>
          <td>${list[x].username}</td>
          <td>${list[x].correct}</td>
        </tr>
        `
        counter += 1
      }
    })
  }
  retrieve()
</script>
{% endblock %}