{% extends 'base.html' %}
{% load static %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="float-end">
  <button onclick="collectStats()">X</button>
</div>
<h4 id="user" class="d-none">{{user.username}}</h4>
<!-- Container for case/number -->
<div class="text-center mt-4 d-none" id="case-num">
  <div class="border border-3 d-inline-block p-5 rounded">
    <p class="d-none" id="selected-declension">{{declension}}</p>
    <h1 id="question"></h1>
  </div>
</div>

<!-- Container for adjective question -->
<div class="text-center mt-4 d-none" id="adj">
  <div class="border border-3 d-inline-block p-5 rounded">
    <h1 id="adj-question"></h1>
  </div>
</div>

<!-- First form wrapper -->
<div id="form-wrapper" class="d-none">
  <form id="form">
    <div class="d-flex justify-content-center mt-4">
      <div class="form-check form-check-inline">
        <label for="nom">Nominative</label>
        <input type="radio" id="nom" name="case" value="Nominative">
      </div>
      <div class="form-check form-check-inline">
        <label for="gen">Genitive</label>
        <input type="radio" id="gen" name="case" value="Genitive">
      </div>
      <div class="form-check form-check-inline">
        <label for="dat">Dative</label>
        <input type="radio" id="dat" name="case" value="Dative">
      </div>
      <div class="form-check form-check-inline">
        <label for="acc">Accusative</label>
        <input type="radio" id="acc" name="case" value="Accusative">
      </div>
      <div class="form-check form-check-inline">
        <label for="abl">Ablative</label>
        <input type="radio" id="abl" name="case" value="Ablative">
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-center"> 
      <div class="form-check form-check-inline">
        <label for="sg">Singular</label>
        <input type="radio" id="sg" name="number" value="sg.">
      </div>
      <div class="form-check form-check-inline">
        <label for="pl">Plural</label>
        <input type="radio" id="pl" name="number" value="pl.">
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <input type="submit" value="Check" id="submit-btn" class="btn btn-primary">
    </div>
  </form>
</div>

<!-- Form for adj question -->
<div id="second-form-wrapper" class="d-none">
  <form id="form" class="d-flex justify-content-center mt-4">
    <div class="align-items-center">
      <input type="button" class="btn btn-primary" id="option1">
      <input type="button" class="btn btn-primary" id="option2">
      <input type="button" class="btn btn-primary" id="option3">
    </div>
  </form>
</div>
<div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-danger d-none" id="incorrect-banner">
  Incorrect! Answers include:
  <div id="case-answers"></div>
  <div id="number-answers"></div>
  <div id="adj-answer"></div>
  <button class="btn btn-danger" onclick="retrieveQuestion()">Continue</button>
</div>
<div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-success d-none" id="correct-banner">
  Correct! Nicely done.
  <button class="btn btn-success" onclick="retrieveQuestion()">Continue</button>
</div>
<div id="stats-block" class="d-none">
  <p id="date"></p>
  <p id="num-correct"></p>
  <p id="num-incorrect"></p>
  <p id="time-start"></p>
</div>

{% endblock %}