{% extends 'base.html' %}
{% load static %}

{% block title %}Question{% endblock %}

{% block content %}
<h4 id="user">{{user.username}}</h4>
<div class="text-center">
  <div class="border border-3 d-inline-block p-5 rounded">
    <p class="d-none" id="selected-declension">{{declension}}</p>
    <h1 id="question"></h1>
  </div>
</div>
<!-- <div id="case-answers"></div>
<div id="number-answers"></div> -->
<!-- <button onclick="retrieveQuestion()">New Question</button> -->
<div id="form-wrapper">
  <form id="form">
    <label for="nom">Nominative</label>
    <input type="radio" id="nom" name="case" value="Nominative">

    <label for="gen">Genitive</label>
    <input type="radio" id="gen" name="case" value="Genitive">

    <label for="dat">Dative</label>
    <input type="radio" id="dat" name="case" value="Dative">

    <label for="acc">Accusative</label>
    <input type="radio" id="acc" name="case" value="Accusative">

    <label for="abl">Ablative</label>
    <input type="radio" id="abl" name="case" value="Ablative">
    <br>
    <label for="sg">Singular</label>
    <input type="radio" id="sg" name="number" value="sg.">

    <label for="pl">Plural</label>
    <input type="radio" id="pl" name="number" value="pl.">

    <input type="submit" value="Check">
  </form>
</div>
<div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-danger d-none" id="incorrect-banner">
  Incorrect! Answers include:
  <div id="case-answers"></div>
  <div id="number-answers"></div>
  <button class="btn btn-danger" onclick="retrieveQuestion()">Continue</button>
</div>
<div class="position-absolute bottom-0 start-50 translate-middle-x alert alert-success d-none" id="correct-banner">
  Correct! Nicely done.
  <button class="btn btn-success" onclick="retrieveQuestion()">Continue</button>
</div>
{% endblock %}