{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<!-- To crack the password, one must give a proper programmer welcome. -->
<p class="d-none" id="username">{{user.username}}</p>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Account Balance: {{user.points}} points</span>
    <p class="d-none" id="user-points">{{user.points}}</p>
    <p class="d-none" id="user-insurance">{{user.points_insurance}}</p>
    <p class="d-none" id="user-multiplier">{{user.points_multiplier}}</p>
    <p class="d-none" id="user-role">{{user.role}}</p>
  </div>
</nav>
<div class="container mt-3">
  <h1>Shop</h1>
  <p>Welcome to the shop! I have numerous wares that can be yours...for a price of course.</p>
  <div class="d-none" id="form-wrapper">
    <form>
      <input type="text" placeholder="Enter the password" id="password-enter">
      <input type="submit" class="btn btn-primary" value="Enter">
    </form>
  </div>
</div>
<hr>
<div class="container mt-4">
  <h2>Point Multipliers</h2>
  <p>Want more 'bang for your buck' after correctly answering a question? A point multiplier may be of some assistance. Point multipliers are automatically applied upon purchase.</p>
  <p id="current-mult">Current Multiplier:</p>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="multiplier-header"></h5>
        <p class="card-text" id="multiplier-body"></p>
        <button class="btn btn-primary" id="multiplier-btn">Upgrade</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4">
  <h2>Insurance</h2>
  <p>On the wrong type of answer streak? Some insurance might soften the point blow from an incorrect answer. Insurance is automatically applied upon purchase.</p>
  <p id="current-insur">Current coverage:</p>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="insurance-header"></h5>
        <p class="card-text" id="insurance-body"></p>
        <button id="insurance-btn" class="btn btn-primary">Purchase plan</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4">
  <h2>Roles</h2>
  <p>Want to make your profile stand out? A special role might spice up your profile and show others your skills. </p>
  <p id="current-role">Current Role:</p>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="role-header"></h5>
        <p class="card-text" id="role-body"></p>
        <button class="btn btn-primary" id="role-btn">Purchase Title</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4">
  <h2>Secret Roles</h2>
  <p>Shhhhh...</p>
  <div id="omniscient-card" class="d-flex justify-content-center d-none">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Omniscient</h5>
        <p class="card-text">What is this, a secret title? You either found this after solving my riddle or you randomly clicked the corner of your screen, either way congrats.</p>
        <button id="omniscient-btn" class="btn btn-primary">Acquire Title</button>
      </div>
    </div>
  </div>
  <div id="hacker-card" class="d-flex justify-content-center d-none">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hacker</h5>
        <p class="card-text">*Hacker voice* I'm in. 01000011 01101111 01101110 01100111 01110010 01100001 01110100 01110011 00100000 01101111 01101110 00100000 01100100 01101001 01110011 01100011 01101111 01110110 01100101 01110010 01101001 01101110 01100111 00100000 01110100 01101000 01100101 00100000 01101000 01100001 01100011 01101011 01100101 01110010 00100000 01110100 01101001 01110100 01101100 01100101 00101110</p>
        <button id="hacker-btn" class="btn btn-primary">Acquire Title</button>
      </div>
    </div>
  </div>
  <div id="cryptologist-card" class="d-flex justify-content-center d-none">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cryptologist</h5>
        <p class="card-text">You seemed to have cracked the code... As a reward, I present you with a special title.</p>
        <button id="cryptologist-btn" class="btn btn-primary">Acquire Title</button>
      </div>
    </div>
  </div>
</div>
<div>
  <h3 id="log"> > </h3>
</div>
<button class="position-fixed bottom-0 end-0 opacity-0" onclick="toggleSecret()" style="cursor: default;">Quid est hoc?</button>
<script type="text/javascript">
  var user = document.getElementById("username").innerHTML
  var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-stats/${user}/`
  var multContainer = document.getElementById("current-mult")
  var insurContainer = document.getElementById("current-insur")
  var roleContainer = document.getElementById("current-role")
  var insuranceHeader = document.getElementById("insurance-header")
  var insuranceBody = document.getElementById("insurance-body")
  var insuranceBtn = document.getElementById("insurance-btn")
  var multiplierBtn = document.getElementById("multiplier-btn")
  var points = document.getElementById("user-points").innerHTML
  var statusBar = document.getElementById("status-bar")
  var multiplierHeader = document.getElementById("multiplier-header")
  var multiplierBody = document.getElementById("multiplier-body")
  var roleHeader = document.getElementById("role-header")
  var roleBody = document.getElementById("role-body")
  var roleBtn = document.getElementById("role-btn")
  // var goldenTitles = ["DEV", "Omniscient", "Hacker", "Cryptologist"]
  var goldenTitles = {DEV: "DEV", Omniscient: "Omniscient", Hacker: "Hacker", Cryptologist: "Cryptologist", Champion: "Champion"}

  var wrapper = document.getElementById("form-wrapper")
  wrapper.addEventListener("submit", function(e){
    e.preventDefault()
    if (document.getElementById("password-enter").value == "hello world"){
      document.getElementById("cryptologist-card").className = "d-flex justify-content-center"
      document.getElementById("cryptologist-btn").onclick = function(){
        var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${user}/Cryptologist/`
        fetch(url)
        window.location.href = window.location.href
      }
    }
  })
  
  var log = document.getElementById("log")

  document.addEventListener("keydown", function(e){
    var allowed = {KeyA: "KeyA", KeyB: "KeyB", ArrowUp: "ArrowUp", ArrowDown: "ArrowDown", ArrowLeft: "ArrowLeft", ArrowRight: "ArrowRight", Enter: "Enter"}
    if (e.code in allowed){
      log.innerHTML += ` ${e.code}`
    }
    if (e.code == "Enter"){
      checkCode(log.innerHTML)
    }
  })

  function checkCode(code){
    if (code == " &gt;  ArrowUp ArrowUp ArrowDown ArrowDown ArrowLeft ArrowRight ArrowLeft ArrowRight KeyB KeyA Enter"){
      log.innerHTML = ""
      var card = document.getElementById("hacker-card")
      card.className = "d-flex justify-content-center"
      document.getElementById("hacker-btn").onclick = function(){
        var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${user}/Hacker/`
        fetch(url)
        window.location.href = window.location.href
      }
    }
    else {
      log.innerHTML = ""
    }
  }
  
  function toggleSecret(){
    var card = document.getElementById("omniscient-card")
    var omniscientBtn = document.getElementById("omniscient-btn")
    document.getElementById("form-wrapper").className = ""
    if (card.className == "d-flex justify-content-center d-none"){
      card.className = "d-flex justify-content-center"
      omniscientBtn.onclick = function(){
        var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${user}/Omniscient/`
        fetch(url)
        window.location.href = window.location.href
      }
    }
    else {
      card.className = "d-flex justify-content-center d-none"
    }
  }
  
  fetch(url)
  .then((resp) => resp.json())
  .then(function(data){
    multContainer.innerHTML += ` ${data.points_multiplier}x`
    // insurContainer.innerHTML += data.points_insurance
    roleContainer.innerHTML += ` ${data.role}`
    if (data.points_insurance == 1){
      insurContainer.innerHTML += " Uninsured"
    }
    else {
      insurContainer.innerHTML += `${data.points_insurance}x reduction in point deduction`
    }
    insuranceCard(document.getElementById("user-insurance").innerHTML, data)
    multiplierCard(document.getElementById("user-multiplier").innerHTML, data)
    roleCard(document.getElementById("user-role").innerHTML, data)
    
  })

  function multiplierCard(multiplier, data){
    if (multiplier == 1){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-multiplier/${data.username}/2/`
      multiplierHeader.innerHTML = "Point Multiplier Mk. I"
      multiplierBody.innerHTML = "Cutting edge science has led to the development of the Point Multiplier Mk. I. This device will double the amount of points you receive for a correct answer and is available for the low, low cost of only <b>100</b> points."
      multiplierBtn.onclick = function(){
        if (data.points >= 100){
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/100/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (multiplier == 2){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-multiplier/${data.username}/5/`
      multiplierHeader.innerHTML = "Point Multiplier Mk. II"
      multiplierBody.innerHTML = "Further research and development has led to the creation of the Point Multiplier Mk. II! Unlike its predecessor, this will give you five times as many points for a correct answer. This upgrade will cost you <b>350</b> points."
      multiplierBtn.onclick = function(){
        if (data.points >= 350){
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/350/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (multiplier == 5){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-multiplier/${data.username}/10/`
      multiplierHeader.innerHTML = "Point Multiplier Mk. III"
      multiplierBody.innerHTML = "Surely there are no other upgrades to the point multiplier...surely it will not be completely free. Well there is good news and bad news...This upgrade will increase the amount of points you receive by 10 times <i>but</i> science isn't free so it will cost you <b>700</b> points."
      multiplierBtn.onclick = function(){
        if (data.points >= 700){
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/700/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (multiplier == 10){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-multiplier/${data.username}/15/`
      multiplierHeader.innerHTML = "Point Multiplier Mk. V"
      multiplierBody.innerHTML = "I know what you're thinking, what happened to Mk. IV? Well the Roman numeral for five looks cooler and if Xbox can go from 360 to 1, I can go from III to V. This upgrade will increase the amount of points you receive by 15 times. Epic marketing like this isn't free, however, and will cost you <b>1250</b> points."
      multiplierBtn.onclick = function(){
        if (data.points >= 1250){
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/1250/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (multiplier == 15){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-multiplier/${data.username}/20/`
      multiplierHeader.innerHTML = "Point Multiplier Mk. VI"
      multiplierBody.innerHTML = "Invention of the wheel, construction of the pyramids, the moon landing? Nope, this is singlehandedly humanity's greatest technological achievement. This upgrade will increase the amount of points you receive by <i>20 times!</i> Unlike the moon landing though, this is real and will cost you <b>2000</b> points."
      multiplierBtn.onclick = function(){
        if (data.points >= 2000) {
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/2000/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else {
      multiplierHeader.innerHTML = "Point Multiplier Fully Upgraded"
      multiplierBody.innerHTML = "No further upgrades are available for the Point Multiplier...At least until we find out how to break the laws of physics or until the developer of this site stops being lazy."
      multiplierBtn.disabled = true
    }
  }
  
  function insuranceCard(insurance, data){
    if (insurance == 1){
      // fill for 3
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-insurance/${data.username}/${3}/`
      insuranceHeader.innerHTML = "Basic Insurance Coverage"
      insuranceBody.innerHTML = "It's not much, but it's something. This plan will reduce point loss by 3x and costs <b>150</b> points."
      insuranceBtn.onclick = function(){
        if (data.points >= 150){
          var secondUrl = `https://ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/150/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (insurance == 3){
      // fill for 10
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-insurance/${data.username}/${5}/`
      insuranceHeader.innerHTML = "Intermediate Insurance Coverage"
      insuranceBody.innerHTML = "Now you're moving up! This plan provides slightly more coverage than the first plan (but not much...). This plan will reduce point loss by 5x and costs <b>500</b> points."
      insuranceBtn.onclick = function(){
        if (data.points >= 500){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${500}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (insurance == 10){
      // fill for 15
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-insurance/${data.username}/${10}/`
      insuranceHeader.innerHTML = "Advanced Insurance Coverage"
      insuranceBody.innerHTML = "Now this is insurance coverage! This plan provides even more coverage than the previous two plans. This plan will reduce point loss by 10x and costs <b>1000</b> points."
      insuranceBtn.onclick = function(){
        if (data.points >= 1000){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${1000}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (insurance == 15) {
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/add-insurance/${data.username}/${15}/`
      insuranceHeader.innerHTML = "Supreme Insurance Coverage"
      insuranceBody.innerHTML = "This is more like a coverup than insurance at this point. This plan provides maximum protection from point loss, and will reduce point loss by 15x (meaning a wrong answer will only set you back <i>1</i> point). This plan costs <b>3000</b> points"
      insuranceBtn.onclick = function(){
        if (data.points >= 3000){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${3000}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else {
      insuranceHeader.innerHTML = "Max Coverage Achieved"
      insuranceBody.innerHTML = "Sorry but there are no further insurance policies available at this time, check again soon."
      insuranceBtn.disabled = true
    }
  }
  function roleCard(role, data){
    if (role == "None"){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Greenhorn/`
      roleHeader.innerHTML = "Greenhorn"
      roleBody.innerHTML = "Welcome new user! To get you started, I created a special role just for you! You may be wondering why it's not free then, but I still have to make ends meets so it will cost you <b>200</b> points."
      roleBtn.onclick = function(){
        if (data.points >= 200){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${200}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Greenhorn"){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Rising Linguist/`
      roleHeader.innerHTML = "Rising Linguist"
      roleBody.innerHTML = "'Greenhorn' just not cutting it? I have just the role for you! It's going to cost you <b>700</b> points, and if you come back, I'll see if I can find something better (for a price of course)."
      roleBtn.onclick = function(){
        if (data.points >= 700){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${700}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Rising Linguist"){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Guru/`
      roleHeader.innerHTML = "Guru"
      roleBody.innerHTML = "I think this is a perfect title to encapsulate your skills. This title can be yours for the low-low price of $19.99 (shipping + handling not included) or <b>1200</b> points. Operators are standing by so call now!"
      roleBtn.onclick = function(){
        if (data.points >= 1200){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${1200}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Guru"){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Imperator/`
      roleHeader.innerHTML = "Imperator"
      roleBody.innerHTML = "Now <i>this</i> is a cool title! But such a fine ware comes at a price, this title will cost you <b>1700</b> points."
      roleBtn.onclick = function(){
        if (data.points >= 1700){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${1700}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Imperator"){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Enlightened/`
      roleHeader.innerHTML = "Enlightened"
      roleBody.innerHTML = "Look how far you've come! My title stock is running out, but I have a few more for such a loyal customer like you! This particular title will cost you <b>2500</b> points."
      roleBtn.onclick = function(){
        if (data.points >= 2500){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${2500}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Enlightened" || role in goldenTitles){
      var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/change-role/${data.username}/Scrooge McDuck/`
      roleHeader.innerHTML = "Scrooge McDuck"
      roleBody.innerHTML = "You might as well be swimming in all those points you have! This title can be yours for the small fee of <b>5000</b> points."
      roleBtn.onclick = function(){
        if (data.points >= 5000){
          var secondUrl = `https:/ordo-aquilarum.p3rplexed.repl.co/api/subtract-points/${data.username}/${5000}/`
          fetch(url)
          fetch(secondUrl)
          window.location.href = window.location.href
        }
        else {
          alert("Insufficient funds!")
        }
      }
    }
    else if (role == "Scrooge McDuck"){
      roleHeader.innerHTML = "All Titles Sold Out"
      roleBody.innerHTML = "It looks like I'm completely out of stock (these supply chain issues I tell ya). <i>But...</i> there may be a few titles lurking on this page in secret. If I were you, I would look at position: fixed; bottom: 0; right: 0;"
      roleBtn.disabled = true
    }
  }
</script>
{% endblock %}