{% extends 'base.html' %}

{% block title %}Stat Lookup{% endblock %}

{% block content %}
<p class="d-none" id="logged-user">{{usern.username}}</p>
<div class="container mt-3">
  <h1>Stat Search</h1>
  <p>Using the form below, you can search for a specified user's statistics.</p>
  <p><b>NOTE: Username must be typed correctly and completely in order locate statistics.</b></p>
</div>
<br>
<div id="search-form" class="d-flex justify-content-center">
  <form class="row">
    <input class="col me-3" type="text" id="username" required placeholder="Username">
    <button class="col btn btn-primary me-3" id="self" onclick="selfBtn()">Your Stats</button>
    <input class="col btn btn-primary" id="submit" type="submit" value="Search">
  </form>
</div>
<hr>
<div class="container text-center">
  <h1 id="person-icon" class="d-none"><svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></h1>
  <h1 id="user-placeholder"></h1>
  <h3 id="role-placeholder"></h3>
  <div class="row g-1 mt-3">
    <h4 class="col me-3" id="correct-placeholder"></h4>
    <h4 class="col me-3" id="incorrect-placeholder"></h4>
    <h4 class="col me-3" id="points-placeholder"></h4>
  </div>
</div>
<script>
  function selfBtn(){
    var input = document.getElementById("username")
    var username = document.getElementById("logged-user")
    input.value = username.innerHTML
  }
  function findUser(username){
  var usernamePlaceholder = document.getElementById("user-placeholder")
  var correctPlaceholder = document.getElementById("correct-placeholder")
  var incorrectPlaceholder = document.getElementById("incorrect-placeholder")
  var pointsPlaceholder = document.getElementById("points-placeholder")
  var rolePlaceholder = document.getElementById("role-placeholder")
  var goldenRoles = ["DEV", "Hacker", "Cryptologist", "Scrooge McDuck", "Omniscient"]
  usernamePlaceholder.innerHTML = ""
  correctPlaceholder.innerHTML = ""
  incorrectPlaceholder.innerHTML = ""
  pointsPlaceholder.innerHTML = ""
  rolePlaceholder.innerHTML = ""
  url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-stats/${username}/`
  fetch(url)
  .then((resp) => resp.json())
  .then(function(data){
    document.getElementById("person-icon").className = ""
    if(goldenRoles.includes(data.role)){
      var color = "warning"
    }
    else {
      var color = "primary" 
    }
    usernamePlaceholder.innerHTML = `${data.username}`
    correctPlaceholder.innerHTML = `✅ ${data.correct}`
    incorrectPlaceholder.innerHTML = `❌ ${data.incorrect}`
    pointsPlaceholder.innerHTML = `⭐ ${data.points}`
    rolePlaceholder.innerHTML = `<span class="badge text-bg-${color} border-${color}">${data.role}</span>`
  })
  .catch(
    usernamePlaceholder.innerHTML = "Data for the specified user could not be found. Check the information you entered and try again."
  )
}

var userSearch = document.getElementById("search-form")
userSearch.addEventListener("submit", function(f){
  f.preventDefault()
  console.log("form submitted")
  var username = document.getElementById("username").value
  findUser(username)
})
</script>
{% endblock %}