{% extends 'base.html' %}

{% block title %}Stat Lookup{% endblock %}

{% block content %}
<h1>hello</h1>
<div id="search-form" class="d-flex justify-content-center">
  <form class="row">
    <input class="col me-3" type="text" id="username" required placeholder="Username">
    <input class="col btn btn-primary" id="submit" type="submit" value="Search">
  </form>
</div>
<hr>
<div class="container">
  <h1 id="user-placeholder"></h1>
  <h4 id="correct-placeholder"></h4>
  <h4 id="incorrect-placeholder"></h4>
  <h4 id="points-placeholder"></h4>
  <h3 id="role-placeholder"></h3>
</div>
<script>
  function findUser(username){
  var usernamePlaceholder = document.getElementById("user-placeholder")
  var correctPlaceholder = document.getElementById("correct-placeholder")
  var incorrectPlaceholder = document.getElementById("incorrect-placeholder")
  var pointsPlaceholder = document.getElementById("points-placeholder")
  var rolePlaceholder = document.getElementById("role-placeholder")
  usernamePlaceholder.innerHTML = ""
  correctPlaceholder.innerHTML = ""
  incorrectPlaceholder.innerHTML = ""
  pointsPlaceholder.innerHTML = ""
  rolePlaceholder.innerHTML = ""
  url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-stats/${username}/`
  fetch(url)
  .then((resp) => resp.json())
  .then(function(data){
    usernamePlaceholder.innerHTML = data.username
    correctPlaceholder.innerHTML = data.correct
    incorrectPlaceholder.innerHTML = data.incorrect
    pointsPlaceholder.innerHTML = data.points
    rolePlaceholder.innerHTML = data.role
  })
  .catch(
    usernamePlaceholder.innerHTML = "Data for the specified user could not be found. Check the information you entered and try again."
  )
}

var userSearch = document.getElementById("search-form")
userSearch.addEventListener("submit", function(f){
  f.preventDefault()
  console.log("form submitted")
  var username = document.getElementById("username").value
  findUser(username)
})
</script>
{% endblock %}