{% extends 'base.html' %}

{% block title %}Teacher Portal{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>Teacher Portal</h1>
  <button class="btn btn-primary" onclick="toggleForm()">Add Class</button>
</div>

<div id="form-wrap" class="container d-none mt-4">
  <form>
    <input id="name-field" type="text" placeholder="Enter class name">
    <input type="submit" value="Create" class="btn btn-primary">
  </form>
</div>
<div id="result" class="container">
  
</div>
<hr>
<div class="container">
  <h2>Classes</h2>
  <button class="btn btn-primary" onclick="refreshClasses()">Refresh</button>
  <div id="class-list" class="mt-4 list-group">
    
  </div>
</div>

<script>
  var result = document.getElementById("result")
  var wrap = document.getElementById("form-wrap")
  wrap.addEventListener("submit", function(e){
    e.preventDefault()
    result.innerHTML = ""
    var name = document.getElementById("name-field").value
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/create-group/${name}/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      result.innerHTML = `
      <p>${data}</p>
      `
    })
  })

  function toggleForm(){
    if (wrap.classList.contains("d-none")){
      wrap.className="container mt-4"
    }
    else {
      wrap.className = "container d-none mt-4"
    }
  }

  var classList = document.getElementById("class-list")
  function refreshClasses(){
    classList.innerHTML = ""
    url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-all-groups/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      var list = data
      for (var i=0; i<list.length; i++){
        var name = list[i].name
        // classList.innerHTML += `
        // <li><a href="https://ordo-aquilarum.p3rplexed.repl.co/classes/${name}/">${name}</a></li>
        // `
        classList.innerHTML += `
        <a class="list-group-item" href="https://ordo-aquilarum.p3rplexed.repl.co/classes/${name}/">${name}</a>
        `
      }
    })
  }
  refreshClasses()
</script>
{% endblock %}