{% extends 'base.html' %}

{% block title %}Teacher Portal{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>Teacher Portal</h1>
  <button class="btn btn-primary" onclick="toggleForm()">Add Class</button>
</div>

<div id="form-wrap" class="container d-none mt-4">
  <form>
    <input id="name-field" type="text" placeholder="Enter class name">
    <input type="submit" value="Create" class="btn btn-primary">
  </form>
</div>
<div id="result" class="container">
  
</div>
<hr>
<div class="container">
  <h2>Classes</h2>
  <button class="btn btn-primary" onclick="refreshClasses()">Refresh</button>
  <div id="class-list" class="mt-4 list-group">
    
  </div>
</div>
<hr>
<div class="container">
  <h2>Problem Questions</h2>
  <p>These questions have been identified as the top ten questions answered incorrectly the most.</p>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Term</th>
          <th scope="col">Declension</th>
          <th scope="col">Times Incorrect</th>
        </tr>
      </thead>
      <tbody id="table-body">
        
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="container">
  <h2>Certamen</h2>
  <p>Use the form below to start a new session. The game will be open for all users and begins as soon as this form is submitted. <b>Please note, only one game can be active at one time.</b></p>
</div>
<div class="container" id="form-rap">
  {% if not comps and not rumbles %}
  <form>
    <label for="time-end">Time end</label>
    <br>
    <input name="time-end" type="time" id="time-selection">
    <input type="submit" value="Start Game" class="btn btn-primary" id="submit-btn">
  </form>
  {% else %}
  <p>A competition is already in progress. Please wait for the active competition to end before beginning a new competition.</p>
  {% endif %}
</div>
{% if not rumbles and not comps%}
<div class="container">
  <h3>Rumble</h3>
  <button class="btn btn-primary mb-4" onclick="startRumble()" id="rumble-btn">Begin Rumble</button>
</div>
{% else %}
<p>A competition is already in progress. Please wait for the active competition to end before beginning a new competition.</p>
{% endif %}
<script>
  let btn = document.getElementById("rumble-btn")
  
  var result = document.getElementById("result")
  var wrap = document.getElementById("form-wrap")
  wrap.addEventListener("submit", function(e){
    e.preventDefault()
    result.innerHTML = ""
    var name = document.getElementById("name-field").value
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/create-group/${name}/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      result.innerHTML = `
      <p>${data}</p>
      `
    })
  })

  function toggleForm(){
    if (wrap.classList.contains("d-none")){
      wrap.className="container mt-4"
    }
    else {
      wrap.className = "container d-none mt-4"
    }
  }

  function startRumble(){
    let url = `https://ordo-aquilarum.p3rplexed.repl.co/api/create-rumble/`
    fetch(url)
    btn.disabled = true
    btn.innerHTML = "Rumble Active!"
    document.getElementById("submit-btn").disabled = true
    document.getElementById("submit-btn").value = "Cannot begin while Rumble is active"
  }

  var classList = document.getElementById("class-list")
  function refreshClasses(){
    classList.innerHTML = ""
    url = `https://ordo-aquilarum.p3rplexed.repl.co/api/retrieve-all-groups/`
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      var list = data
      for (var i=0; i<list.length; i++){
        var name = list[i].name
        // classList.innerHTML += `
        // <li><a href="https://ordo-aquilarum.p3rplexed.repl.co/classes/${name}/">${name}</a></li>
        // `
        classList.innerHTML += `
        <a class="list-group-item" href="https://ordo-aquilarum.p3rplexed.repl.co/classes/${name}/">${name}</a>
        `
      }
    })
  }
  refreshClasses()

  function populateTable(){
    var url = `https://ordo-aquilarum.p3rplexed.repl.co/api/get-top-ten/`
    var tableBody = document.getElementById("table-body")
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data){
      for (var i=0; i<data.length; i++){
        tableBody.innerHTML += `
        <tr>
          <th scope="row">${i+1}</th>
          <td>${data[i].term}</td>
          <td>${data[i].declension}</td>
          <td>${data[i].times_incorrect}</td>
        </tr>
        `
      }
    })
  }
  populateTable()

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  let csrf_token = getCookie("csrftoken")
  const formw = document.getElementById("form-rap")
  formw.addEventListener("submit", function(e){
    e.preventDefault()
    const entry = document.getElementById("time-selection").value
    let url = `https://ordo-aquilarum.p3rplexed.repl.co/api/new-comp/`
    fetch(url, {
      method: "POST",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrf_token,
      },
      body: JSON.stringify({
        "time_end": entry
      })
    })
    // window.location.href = window.location.href
    document.getElementById("submit-btn").disabled = true
    document.getElementById("submit-btn").value = "Game Active!"
    btn.disabled = true
    btn.innerHTML = "Unavailable at this time"
  })
</script>
{% endblock %}