{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div id="sidebar">
      <ul class="link-list">
        <li class="nav-link"><a href="#">Link 1</a></li>
        <li class="nav-link"><a href="#">Link 2</a></li>
        <li class="nav-link"><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div id="main-content">
      
      <h1>Home</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio reprehenderit adipisci esse unde, sed quidem dolor corrupti dolorem maiores odit saepe beatae vero, voluptatem qui laboriosam! Exercitationem, amet voluptatibus.</p>
    </div>
  </body>
</html>