#all-content {
  background-color: #f7f6fb !important;
  height: 100%;
  overflow: scroll;
}

#cards{
  width: 100%;
}

.btn-primary, .btn-primary:active {
  background-color: #8716b8 !important;
  border: solid #8716b8 !important;
}
.btn-primary:hover, .btn:hover {
  background-color: #36084a !important;
  border: solid #36084a !important;
}

.badge, .bg-primary {
  background-color: #8716b8 !important;
  border: solid #8716b8 !important;
}

#sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  z-index: 999;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #2a338e;
}

#main-content {
  margin-left: 15%;
/*   height: 100%; */
  display: inline-block;
}

.link-list {
  list-style-type: none;
}

.nav-link {
/*   padding-top: .75rem;
  padding-bottom: .75rem; */
  padding: 1rem;
}

.nav-link a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1rem;
}

.nav-link a:hover {
  color: white;
  background-color: #1b205c;
  width: 100%;
  padding: 1rem;
}